<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.example.demo.dao.DemoDao">
	<select id="test" resultType="com.example.demo.entity.Demo" >
		select t.id,t.name from STUDENT t where t.id = #{id}
	</select>
	
	<select id="findList" resultType="com.example.demo.entity.Demo">
		select t.id,t.name from STUDENT t
	</select>
	
	<select id="findDemo" resultType="java.lang.Integer">
		select count(*) from STUDENT t where t.id = #{id}
	</select>
	
	<update id="update">
		update STUDENT t set t.name = #{name} where t.id = #{id} 
	</update>
	
	<insert id="insert">
		insert into STUDENT(id,name) values(#{id},#{name}) 
	</insert>
	
	<delete id="delete">
		delete from STUDENT t where t.id = #{id}
	</delete>
</mapper>